/* Dine styles her */
form {
  padding: 2rem;
  background: hsl(264 30% 96%);
  border-radius: 8px;
  display: grid;
  gap: 1rem;
}
.form-felt {
  display: grid;
  gap: 3px;
}
label,
input,
textarea,
select,
button {
  display: block;
}
input {
  padding: 0.4%;
}
textarea {
  padding: 0.4%;
}
